.slide{
    background:#fff;
    text-align:center;
  }
  
  .slide{
   width:100%;
    position:relative;
    display:none;
  }
  
  .active{
    display:block;
  }
  
  .next, .prev{
    position:absolute;
    top:50%;
    padding:5px;
  }
  
  .next{
    right:0;
  }